/* styles for invoice */

.invoice-logo {
	font-weight: 600;
	color: $primary;
	font-size: 25px;
	letter-spacing: 1.2px;
	line-height: 1.1;
	text-transform: uppercase;
	display: inline-block;
	.lighter {
		font-weight: 400;
		font-size: 20px;
	}
}

.name {
	display: inline-block;
	margin-top: 5px;
}
