<div class="admin-page-content"> 
  <md-card class="ml-0 mr-0">
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
                <a ui-sref="admin.users.list" style="position: relative;top: 2px;text-decoration: none;">
                    <i class="mdi mdi-chevron-left" style="font-size: 30px"></i>
                    <md-tooltip md-direction="top">
                            {{"user.back_list" | translate}}
                    </md-tooltip>
                </a>
                <span>{{user.name}}</span>
            </span>
            <span class="md-subhead">{{user.email}}</span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content>
      TODO
      </md-card-content>
  </md-card>
</div>