<div class="page-content remodal-bg animsition">
	<ul class="nav nav-tabs tabbed">
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.users.list">{{"users"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.activity">{{"activity"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.loginActivity">{{"login-activity"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.metadata">{{"termstore"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.groups.list">{{"groups"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.policy">{{"policy"|translate}}</a></li>
		<li role="presentation" ui-sref-active="active"><a
			ui-sref="admin.permissions">{{"permissions"|translate}}</a></li>
	</ul>
</div>
<div ui-view></div>
