<!-- <div class="container">

	<form class="form-horizontal" role="form">
		<h4>Length requirements</h4>
		<div class="form-group">
			<div class="col-md-8">
				<div class="form-group row">
					<label for="minimum" class="col-md-2 control-label">Minimum</label>
					<div class="col-md-2">
						<input type="number" class="form-control" id="minimum" placeholder="6" ng-model="policy.minimum">
					</div>
					<label for="maximum" class="col-md-2 control-label">Maximum</label>
					<div class="col-md-2">
						<input type="number" class="form-control" id="maximum" placeholder="12" ng-model="policy.maximum">
					</div>
				</div>
			</div>
		</div>
		<h4>Character requirements</h4>
		<div class="checkbox">
			<label><input type="checkbox" value="" name="uppercase" id="uppercase" ng-model="policy.uppercase">Uppercase</label>
			<label><input type="checkbox" value="" name="lowercase" id="lowercase" ng-model="policy.lowercase">Lowercase</label>
			<label><input type="checkbox" value="" name="numeric" id="numeric" ng-model="policy.numeric">Numeric</label>
			<label><input type="checkbox" value="" name="symbols" id="symbols" ng-model="policy.symbols" >Symbols <em>&nbsp;! } etc</em></label>
		</div>
		<h4>Additional requirements</h4>
		<div class="checkbox">
			<label><input type="checkbox" value="" ng-model="policy.noUsername">Prevent username as password</label>
		</div>
		<h2>Two factor auth</h2>
		<div class="checkbox">
			<div class="col-md-3">
				<label><input type="checkbox" value="" ng-model="policy.twoFactorEnabled">Two factor enabled</label>
				<label ng-show="policy.twoFactorEnabled"><input type="checkbox" value="" ng-show="policy.twoFactorEnabled" ng-model="policy.twoFactorMandatory">Two factor mandatory</label>
				<label ng-show="policy.twoFactorEnabled"><input type="text" value="" ng-show="policy.twoFactorEnabled" ng-required="policy.twoFactorEnabled" ng-model="policy.authyKey">Authy key</label>
			</div>
		</div>

		<h2>Password retention policy</h2>
		<div class="checkbox">
			<div class="col-md-3">
				<label><input type="checkbox" value="" ng-model="policy.noReuse">Prevent password reuse</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-6">
				<div class="form-group row">
					<label for="minimum" class="col-md-3 control-label">Force change after x days : </label>
					<div class="col-md-2">
						<input type="number" class="form-control" id="days" placeholder="90" ng-model="policy.expiryDays">
					</div>
			</div>
		</div>
		<input type="submit" ng-click="pushPolicy()" value="Update">
	</form>
</div> -->

 <div class="admin-page-content">
	<md-card class="mr-0 ml-0">
		<form class="form-horizontal" role="form">
		<md-card-title>
	        <md-card-title-text>
	            <span class="md-headline">{{"password_policies" | translate}}</span>
	        </md-card-title-text>
        </md-card-title>
        <md-card-content>
        	<h4>{{"length_requirements" | translate}}</h4>
        	<div layout="row" layout-xs="column">
	        	<md-input-container class="md-block mb-0" flex-gt-sm flex="50" flex-xs="100">
		            <label>{{"minimum" | translate}}</label>
		            <input type="number" id="minimum" placeholder="6" ng-model="policy.minimum">
		        </md-input-container>
		        <md-input-container class="md-block mb-0" flex-gt-sm flex="50" flex-xs="100">
		            <label>{{"maximum" | translate}}</label>
		            <input type="number" id="maximum" placeholder="12" ng-model="policy.maximum">
		        </md-input-container>
	        </div>
	        <div layout="row" layout-sm="column" layout-xs="column">
	        	<div flex="50" flex-sm="100" flex-xs="100">
					<h4 style="font-weight: 500;">{{"character_requirements" | translate}}</h4>
					<md-checkbox name="uppercase" id="uppercase" ng-model="policy.uppercase" aria-label="Uppercase">
			            {{"uppercase" | translate}}
			        </md-checkbox>
			        <md-checkbox name="lowercase" id="lowercase" ng-model="policy.lowercase" aria-label="Lowercase">
			            {{"lowercase" | translate}}
			        </md-checkbox>
			        <md-checkbox name="numeric" id="numeric" ng-model="policy.numeric" aria-label="Numeric">
			            {{"numeric" | translate}}
			        </md-checkbox>
			        <md-checkbox name="symbols" id="symbols" ng-model="policy.symbols" aria-label="Symbols">
			            {{"symbols" | translate}} <em>&nbsp;! } etc</em>
			        </md-checkbox>
		        </div>
		        <div flex="50" flex-sm="100" flex-xs="100">
		        	<h4 style="font-weight: 500;">{{"additional_requirements" | translate}}</h4>
		        	<md-checkbox ng-model="policy.noUsername" aria-label="Prevent username as password">
		        	    {{"prevent_username_as_password" | translate}}
		        	</md-checkbox>
	        	</div>
	        </div>


        	<div layout="column">
        		<div>
			    	<h4 style="font-weight: 500;">{{"two_factor_auth" | translate}}</h4>
			    </div>
			    <div layout="row" layout-sm="column" layout-xs="column">
		            <md-checkbox ng-model="policy.twoFactorEnabled" aria-label="Two factor enabled" flex="50" flex-sm="100" flex-xs="100" class="mr-0">
			            {{"two_factor_enabled" | translate}}
			        </md-checkbox>
			        <md-checkbox ng-if="policy.twoFactorEnabled" ng-model="policy.twoFactorMandatory" aria-label="Two factor enabled" flex="50" flex-sm="100" flex-xs="100">
			            {{"two_factor_mandatory" | translate}}
			        </md-checkbox>
				</div>
		        <md-input-container class="md-block" ng-if="policy.twoFactorEnabled" flex="50">
				    <label>{{"auth_key" | translate}}</label>
				    <input type="text" value="" ng-required="policy.twoFactorEnabled" ng-model="policy.authyKey">
				</md-input-container>
	        </div>
	        <div layout="row">
	        	<div flex="100">
			        <h4 style="font-weight: 500;">{{"password_retention_policy" | translate}}</h4>
			        <md-checkbox ng-model="policy.noReuse" aria-label="Prevent password reuse">
			            {{"prevent_password_reuse" | translate}}
			        </md-checkbox>
		        </div>
	        </div>
			<md-input-container class="md-block" flex-gt-sm flex="50" flex-sm="100" flex-xs="100">
			    <label>{{"force_change" | translate}}</label>
			    <input type="number" id="maximum" placeholder="12" ng-model="policy.maximum">
			</md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" ng-click="pushPolicy()" value="Update"> {{"account.update" | translate}}</md-button>
        </md-card-actions>
        </form>
	</md-card>
</div>


