@* createAccount Template File *@
@(message:Option[String]=None,existing:Option[String])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.shared.helper.bootstrapInput.f) }

@mainold("Change password", views.html.shared.helper.accountHelper()){
		@if(message.isDefined) {
			<div class="alert alert-danger">@message.get</div>
		}
		@form(zyberapp.routes.LoginController.doChangePassword()) {
			<center>
				<div align="left"  style="width:400px" >
					<fieldset>
						<div class="form-group" id="confirm-control">
							<label for="password" >@messages("password")</label>
							<div >
								<input type="password" id="password" name="password" class="form-control" value="@existing.getOrElse("")">
							</div>
						</div>

						<div class="form-group" id="confirm-control">
			    			<label for="Confirm" >@messages("confirm")</label>
			    			<div >
			    				<input type="password" id="confirm" name="confirm" class="form-control" value="@existing.getOrElse("")">
			    				<span id="confirm-block" class="help-block"></span>
			    			</div>
						</div>
					</fieldset>
					<div class="actions">
				      <input type="submit" value='@messages("Change password")' class="btn primary" id="create-btn">
				    </div>
			    </div>
			</center>
	}
}
	